/* your styles go here */
.title-white {
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 44px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 0;
  }
  .statistics-section .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #fff;
    line-height: 100px;
    border-radius: 50px;
    border: solid 1px #fff;
  }  
  footer.main-footer p.social a.github {
    background-color: #999;
  }
  
  footer.main-footer p.social a.linkedin {
    background-color: #0077b5;
  }
  
  footer.main-footer p.social a.play {
    background-color: #b3c833;
  }